<h1 class="center">Edit your Idea</h1>
{{#each errors}}

<div class="alert alert-dismissible alert-danger mt-3">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{text}}</div>
{{/each}}

{{#each ideas}}
<form class="col s12" action="/idea/edit/{{id}}?_method=PUT " method="POST">
    <div class="row"></div>
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
        <label for="title">Title</label>
        <input placeholder="title" id="title" type="text" name="title" value={{title}} class="form-control">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input id="author" name="author" value={{author}} class="form-control" type="text">

    </div>

    <div class="form-group">
        <label for="textarea1">Your Idea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" name="idea">{{idea}}</textarea>
    </div>

    <input type="submit" value="update" class="btn btn-success">

</form>{{/each}}