<h1 class="center">Dashboard</h1>

<table class="striped highlight responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {{#each idea}}
        <tr>
            <td>{{author}} </td>



            <td><a href="#">{{title}} </a></td>
            <td>{{date}} </td>
            <td><a class="btn orange " href="/idea/edit/{{id}}">Edit </a>
                <form action="/idea/{{id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class=" btn red" value="Delete">
                </form>
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>